[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm
[submodule "dep/glslang"]
	path = dep/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "dep/shaderc"]
	path = dep/shaderc
	url = https://github.com/google/shaderc
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui
